<div class="container">
  
<div class="card">
    <button class="btn" routerLink="/seller/edit-product">Edit</button>
 <div class="card-body">

   <h5 class="card-title">Product Name</h5>
   <p class="card-subtitle mb-3">Product Category</p>

   <!-- Product Image -->
   <img src="product-image.jpg" alt="Product Image">

   <!-- Product Description -->
   <h6 class="card-subtitle mb-3">Description:</h6>
   <p class="card-text">Product Description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

   <!-- Product Price and Offer Price -->
   <h6 class="card-subtitle mb-3">Price:</h6>
   <p class="card-text">Original Price: $43343</p>
   <p class="card-text">Offer Price: $42042.71</p>

   <!-- Product Discount -->
   <h6 class="card-subtitle mb-3">Discount:</h6>
   <p class="card-text">3% off</p>

   <!-- Product Dates -->
   <h6 class="card-subtitle mb-3">Created At:</h6>
   <p class="card-text">2024-01-15T22:34:37.697Z</p>

   <h6 class="card-subtitle mb-3">Updated At:</h6>
   <p class="card-text">2024-01-15T22:34:37.697Z</p>

   <h6 class="card-subtitle mb-3">Published At:</h6>
   <p class="card-text">2024-01-15T22:34:37.694Z</p>

   <!-- Action Buttons -->
   
 </div>
</div>
</div>