.main-navbar{
  border-bottom: 1px solid #ccc;
}
.main-navbar .top-navbar{
  background-color: #2874f0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-navbar .top-navbar .brand-name{
  color: #fff;
  cursor: pointer;
}
.main-navbar .top-navbar .nav-link{
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.main-navbar .top-navbar .dropdown-menu{
  padding: 0px 0px;
  border-radius: 0px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item{
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item i{
  width: 20px;
  text-align: center;
  color: #2874f0;
  font-size: 14px;
}
.main-navbar .navbar{
  padding: 0px;
  background-color: #ddd;
}
.main-navbar .navbar .nav-item .nav-link{
  padding: 8px 20px;
  color: #000;
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  .main-navbar .top-navbar .nav-link{
      font-size: 12px;
      padding: 8px 10px;
  }
}
body {
  background-color: #f8f9fa;
}

header {
  background-color: #343a40;
  color: #fff;
  padding: 15px 0;
}

.dashboard-title {
  font-size: 24px;
  margin-bottom: 0;
}

.user-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info {
  display: flex;
  align-items: center;
  color: #ffc107;
  font-weight: bold;
}

.user-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.logout-btn, .go-to-buyers {
  background-color: transparent;
  border: none;
  color: #ffc107;
  cursor: pointer;
  margin-right: 10px;
}

.logout-btn:hover, .go-to-buyers:hover {
  text-decoration: underline;
}

.add-product-btn {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
}

.add-product-btn:hover {
  background-color: #218838;
}