<section class="vh-100" style="background-color: #797f9a;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <p class="box1"><span class="h2">Shopping Cart </span><span class="h3">({{ cartItems.length }} items in your cart)</span></p>

        <!-- Use ngFor to display each item dynamically -->
        <div class="card mb-4" *ngFor="let item of cartItems">
          <div class="card-body p-4">

            <div class="row align-items-center">
              <div class="col-md-2">
                <img src="{{ item.imageUrl }}" class="img-fluid" alt="Generic placeholder image">
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Name</p>
                  <p class="lead fw-normal mb-0">{{ item.name }}</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Category</p>
                  <p class="lead fw-normal mb-0"><i class="fas fa-circle me-2" style="color: #fdd8d2;"></i>
                    {{ item.category }}</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Quantity</p>
                  <p class="lead fw-normal mb-0">{{ item.quantity }}</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Price</p>
                  <p class="lead fw-normal mb-0">${{ item.newPrice.toFixed(2) }}</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Total Price</p>
                  <p class="lead fw-normal mb-0">${{ item.total.toFixed(2)}}</p>
                  
                  <p class="fw-bold mb-1"></p>
                </div>
                <br><br><br><br>
                <div id="delete" (click)="deleteFromCart(item)"> <i class="bi bi-trash-fill"></i></div>

              </div>
           
            </div>
       
          </div>
         
        </div>
       
        <div class="card mb-5" *ngIf="cartItems.length > 0">
          <div class="card-body p-4">
            <div class="float-end">
              <p class="fw-bold mb-1">Subtotal:${{ totalPrice.toFixed(2) }} </p>
          

            </div>
            
            <div class="cart_buttons"> <button type="button" class="button cart_button_clear"  routerLink="/">Continue Shopping</button> 
              <button type="button"  class="button cart_button_checkout" routerLink="/payment">Process to Pay</button> </div>
          </div>

        </div>
       
        <div class="card" *ngIf="cartItems.length === 0">
          <div class="card-body p-4">

            <div class="text-center">
              <h3> Cart Empty!!!!!</h3>
              <a routerLink="/" class="btn btn-outline-primary mt-4">Back to HomePage</a>
            </div>
            </div>
</div>
</div>
</div>
  </div>
  </section>
         
