<main class="page payment-page">
  <section class="payment-form dark">
    <div class="container">
      <div class="block-heading">
        <h2>Payment</h2>
     
      </div>
      <form>
        <div class="products">
          <h3 class="title">Checkout</h3>
          <div *ngFor="let item of cartItems" class="item">
            <span class="price">${{ item.total.toFixed(2) }}</span>
            <p class="item-name">{{ item.name }}</p>
            
            <p class="item-quantity">Quantity: {{ item.quantity }}</p>
          </div>
          <div class="total">Total<span class="price">${{ totalPrice.toFixed(2)}}</span></div>
        </div>
     
      </form>
    </div>
    <div class="text-center">
      <button class="btn btn-outline-danger mx-auto" routerLink="/payment2">Pay Now</button>
    </div>
    
  </section>
</main>